<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán | lỗi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e7c3a3eb40.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <div class="border border-3 border-danger"></div>
            <div class="card  bg-white shadow p-5">
                <div class="mb-4 text-center">
                    <i class="fa-regular fa-circle-xmark fa-beat" style="color: #f43434;font-size:75px;"></i>
                </div>
                <div class="text-center">
                    <h1 th:utext="${message}"></h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>